<template>
  <div class="q-pa-md q-gutter-md">
      <div v-if="isMobile" class="row">
        <h3 class="text-black no-margin">A little about us!</h3>
      </div>
    <div v-else class="row">
      <h1 class="text-black no-margin">A little about us!</h1>
    </div>
    <div class="row justify-center" ref="scrollTarget">
      <q-card class="card-styles flex-center">
        <q-parallax
          v-if="isMobile"
          class="parallax"
          :height="300"
          src="/images/ster-herb-two.png"
          :scroll-target="$refs.scrollTarget"
        />
        <q-parallax
          v-else
          class="parallax"
          :height="650"
          src="/images/about-us.png"
          :scroll-target="$refs.scrollTarget"
        />
      </q-card>
    </div>
    <div class="flex justify-evenly">
<!--   Sterling's Button-->
    <sterling-dialog/>
<!--      Hubert's button-->
    <herbert-dialog />

    </div>
    <div class="flex justify-center">
      <q-card class="card-styles">
        <q-card-section>
          <h3>How we came to be</h3>
          <how-we-came-to-be />
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import { ref, onMounted, onUnmounted } from "vue";
import HowWeCameToBe from "components/HowWeCameToBe.vue";
import SterlingDialog from "components/SterlingDialog.vue";
import HerbertDialog from "components/HerbertDialog.vue";


export default {
  name: "AboutPage",
  components: { HerbertDialog, SterlingDialog, HowWeCameToBe },
  setup() {
    const isMobile = ref(false);

    const updateScreenWidth = () => {
      isMobile.value = window.innerWidth <= 600;
    };

    onMounted(() => {
      updateScreenWidth();
      window.addEventListener("resize", updateScreenWidth);
    });

    onUnmounted(() => {
      window.removeEventListener("resize", updateScreenWidth);
    });

    return { isMobile };
  },
};
</script>

<style scoped>
.card-styles {
  width: 100%;
  max-width: 1500px;
}

.parallax {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

@media (max-width: 600px) {
  .parallax {
    width: 100%;
    height: 100%;
    /*background-size: auto 150% !important; !* Adjust the percentage value to control the image size *!*/
  }

  .card-styles {
    width: 100%;
    max-width: inherit;
  }
}
</style>
