<template>
  <div>
    <h1>hello</h1>
  </div>
  <div class="flex justify-center">
    <q-card class="card-style ">
      <div class="row">
        <q-card-section>
          <h2>Want to get a hold of us?</h2>
        </q-card-section>
      </div>
      <div class="row flex-center justify-evenly">
        <div class="column">
          <q-card-section>
            <q-input standout v-model="name" label="name" stack-label/>
          </q-card-section>
        </div>
        <div class="column">
          <q-card-section>
            <q-input standout v-model="email" label="email" stack-label/>
          </q-card-section>
        </div>
      </div>
    </q-card>
  </div>
</template>

<script>
import { ref } from "vue";

export default {
  name: "ContactPage",
  setup() {
    return {
      name: ref(''),
      email: ref(''),

    }
  }
};
</script>

<style scoped>
.card-style {
  width: 100%;
  max-width: 1200px;
}
</style>
