<template>
  <div class="row justify-center">
    <h2>Take a look at what we serve!</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <coffee-table/>
    </div>
    <div class="col-xs-12 col-md-6">
      <others-table/>
    </div>
  </div>

  <q-banner rounded class="bg-primary">
    <div class="row justify-around text-white text-h6">
      <p class="col-3 banner-style">
        *Alternative Milks   +$0.75
      </p>
      <p class="col-3 banner-style">
        Blended Drinks   +$1.00
      </p>
      <p class="col-3 banner-style">
        Flavor Syrups   +$0.50
      </p>
    </div>
  </q-banner>

  <div class="row justify-around">
      <div cols="4" class="q-col-gutter-lg q-mt-xs">
        <div class="row justify-center">
          <milks-card/>
        </div>
        <div class="row">
          <fruit-smoothie-flavors/>
        </div>
      </div>
      <div cols="8">
        <snacks-card/>
      </div>
  </div>

</template>

<script>
import { defineComponent } from "vue";
import CoffeeTable from "components/CoffeeTable.vue";
import OthersTable from "components/OthersTable.vue";
import MilksCard from "components/MilksCard.vue";
import FruitSmoothieFlavors from "components/FruitSmoothieFlavors.vue";
import SnacksCard from "components/SnacksCard.vue";
export default defineComponent({
  name: "MenuPage",
  components: { SnacksCard, FruitSmoothieFlavors, MilksCard, OthersTable, CoffeeTable }
})
</script>

<style scoped>
h2 {
  font-weight: bold;
}
.banner-style {
  font-family: 'Playfair Display', cursive !important;
  font-weight: bold;
}
@media (max-width: 743px) {
  h2 {
    font-size: 25px;
    height: 25px;
  }
}
</style>
