<template>
  <q-page class="flex flex-center">
    <router-link to="/menu">
      <img
        alt="Metropole logo"
        src="/images/teacup.png"
        style="width: 400px; height: 400px"
      >
    </router-link>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage'
})
</script>
