<template>
  <div class="q-pa-md">
    <q-card class="my-card">
      <q-card-section>
        <p class="text-h3 no-margin text-black">Coffee</p>
        <p class="text-h6 text-black">Refuel your life!</p>
      </q-card-section>

      <q-markup-table dense separator="horizontal">
        <thead>
        <tr>
          <th class="text-left"></th>
          <th class="text-right">12oz</th>
          <th class="text-right">16oz</th>
          <th class="text-right">20oz</th>
          <th class="text-right">24oz</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-left">Breve</td>
          <td class="text-right">$3.75</td>
          <td class="text-right">$4.25</td>
          <td class="text-right">$4.75</td>
          <td class="text-right">-</td>
        </tr>
        <tr>
          <td class="text-left">Americano</td>
          <td class="text-right">$2</td>
          <td class="text-right">$2.75</td>
          <td class="text-right">$3.50</td>
          <td class="text-right">$4</td>
        </tr>
        <tr>
          <td class="text-left">Cappuccino</td>
          <td class="text-right">$3</td>
          <td class="text-right">$3.75</td>
          <td class="text-right">$4.25</td>
          <td class="text-right">-</td>
        </tr>
        <tr>
          <td class="text-left">Latte</td>
          <td class="text-right">$3.25</td>
          <td class="text-right">$3.75</td>
          <td class="text-right">$4.25</td>
          <td class="text-right">$4.75</td>
        </tr>
        <tr>
          <td class="text-left">Caramel Macchiato</td>
          <td class="text-right">$4</td>
          <td class="text-right">$4.75</td>
          <td class="text-right">$5.25</td>
          <td class="text-right">$5.75</td>
        </tr>
        <tr>
          <td class="text-left">Frappe</td>
          <td class="text-right">$4.25</td>
          <td class="text-right">$4.75</td>
          <td class="text-right">$5.25</td>
          <td class="text-right">$5.75</td>
        </tr>
        <tr>
          <td class="text-left">Affogato</td>
          <td class="text-right">$4</td>
          <td class="text-right">$5</td>
          <td class="text-right">$6</td>
          <td class="text-right">-</td>
        </tr>
        <tr>
          <td class="text-left">Endless Drip</td>
          <td class="text-right">$2</td>
          <td class="text-right">$2</td>
          <td class="text-right">$2</td>
          <td class="text-right">-</td>
        </tr>
        <tr>
          <td class="text-left">Mocha(Reg,Mex,White)</td>
          <td class="text-right">$4</td>
          <td class="text-right">$4.75</td>
          <td class="text-right">$5.25</td>
          <td class="text-right">$5.75</td>
        </tr>
        </tbody>
      </q-markup-table>
    </q-card>
  </div>
</template>

<script>
export default {
  name: "CoffeeTable"
};
</script>

<style scoped>

</style>
