<template>
  <q-card>
    <q-card-section>
      <p class="text-h3">Fruit Smoothie Flavors</p>
      <p class="text-subtitle1 banner-style">$4(12 oz) $4.50(16 oz) $5(20 oz) $5.50(24 oz)</p>
      <div class="row">
        <div class="column ">
          <div cols="5">
            <p class="text-h6">All Star, Aloha Pineapple, Harvest Green, Mellow Mango</p>
          </div>
          <div cols="5">
            <p class="text-h6">Perfect Peach, Summer Strawberry, Sunny Banana, Tropical Harmony</p>
          </div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "FruitSmoothieFlavors"
};
</script>

<style scoped>
.banner-style {
  font-family: 'Playfair Display', cursive !important;
}
</style>
