<template>
  <q-btn
    push
    rounded
    color="brown-5"
    size="29px"
    label="Herbert"
    padding="lg"
    class="glossy"
    @click="herbertCarousel = true"
  />

  <q-dialog v-model="herbertCarousel">
    <q-carousel
      transition-prev="slide-right"
      transition-next="slide-left"
      swipeable
      animated
      v-model="slide"
      control-color="brown-5"
      navigation
      padding
      height="200px"
      class="bg-white shadow-1 rounded-borders"
    >
      <q-carousel-slide :name="1" class="column no-wrap flex-center">
        <div class="q-mt-md text-center">{{lorem}}</div>
      </q-carousel-slide>
      <q-carousel-slide :name="2" class="column no-wrap flex-center">
        <div class="q-mt-md text-center">{{lorem}}</div>
      </q-carousel-slide>
      <q-carousel-slide :name="3" class="column no-wrap flex-center">
        <div class="q-mt-md text-center">{{lorem}}</div>
      </q-carousel-slide>
      <q-carousel-slide :name="4" class="column no-wrap flex-center">
        <div class="q-mt-md text-center">{{lorem}}</div>
      </q-carousel-slide>
    </q-carousel>
  </q-dialog>
</template>

<script>
import { ref } from "vue";

export default {
  name: "HerbertDialog",
  setup() {
    return {
      herbertCarousel: ref(false),
      slide: ref(1),
      lorem: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, ratione eum minus fuga, quasi dicta facilis corporis magnam, suscipit at quo nostrum!',
    }
  }
};
</script>

<style scoped>

</style>
