<template>
  <p>It all started with a chance encounter between two strangers at a food festival. Sterling and Herbert were both food enthusiasts who loved exploring new flavors and cuisines. They struck up a conversation over a plate of spicy tacos and quickly bonded over their shared passion for food.</p>
  <br/>
  <p>Over the course of the festival, they tried dozens of different dishes and swapped recipes and cooking tips. As the sun began to set and the festival drew to a close, they exchanged numbers and promised to keep in touch. </p>
  <br/>
  <p>They stayed in touch over the next few months, sharing photos of their latest culinary creations and meeting up to try new restaurants in the city. Sterling, who had recently quit his job at a marketing firm, began to dream of opening his own restaurant. Herbert, who was a chef at a popular restaurant in the city, offered to help his bring his vision to life.</p>
  <br/>
  <p>They started meeting regularly to discuss their ideas and plan out the restaurant. They both agreed that they wanted to create a place that would serve delicious, high-quality food at an affordable price. They also wanted to showcase the diversity of global cuisine and incorporate sustainable practices into their operations.</p>
  <br/>
  <p>After months of planning, they found the perfect location for their restaurant: a cozy storefront in a bustling neighborhood. They spent weeks renovating the space, painting the walls a warm shade of orange and decorating it with rustic, handmade furniture.</p>
  <br/>
  <p>Finally, after months of hard work, they were ready to open their doors. They named their restaurant "The Metropole Cafe" and created a menu that featured dishes from all over the globe. From spicy Thai curries to savory Italian pastas, their menu was a celebration of the world's diverse culinary traditions.</p>
  <br/>
  <p>Their restaurant quickly became a neighborhood favorite, drawing in crowds with its delicious food and friendly atmosphere. They also earned a reputation for their commitment to sustainability, using locally sourced ingredients and composting their food waste.</p>
  <br/>
  <p>As the restaurant grew in popularity, Sterling and Herbert began to think about expanding their business. They decided to open a second location in a nearby city, hiring a team of talented chefs and servers to help them bring their vision to life.</p>
  <br/>
  <p>Over the years, The Metropole Cafe continued to thrive, earning accolades for its innovative dishes and sustainable practices. Sterling and Herbert remained at the helm, constantly experimenting with new flavors and techniques to keep their menu fresh and exciting.</p>
  <br/>
  <p>Today, The Metropole Cafe has become a beloved institution in the culinary world, known for its commitment to sustainability and its celebration of global cuisine. Sterling and Herbert still run the restaurant, and they continue to be inspired by the endless possibilities of food and the joy it brings to people's lives.</p>
</template>

<script>
export default {
  name: "HowWeCameToBe"
};
</script>

<style scoped>
p {
  font-size: 20px;
}
</style>
