<template>
<q-card>
  <q-card-section>
    <p class="text-h3">Milks</p>
    <p class="text-h6">Whole, 2%, Non-Fat, *Almond, *Oat, *Coconut</p>
  </q-card-section>
</q-card>
</template>

<script>
export default {
  name: "MilksCard"
};
</script>

<style scoped>

</style>
