<template>
  <div class="q-pa-md">
    <q-card class="my-card">
      <q-card-section>
        <p class="text-h3 no-margin text-black">Others</p>
        <p class="text-h6 text-black">Some other options for your liking</p>
      </q-card-section>

      <q-markup-table dense separator="horizontal">
        <thead>
        <tr>
          <th class="text-left"></th>
          <th class="text-right">12oz</th>
          <th class="text-right">16oz</th>
          <th class="text-right">20oz</th>
          <th class="text-right">24oz</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-left">Herbal Tea</td>
          <td class="text-right">$2</td>
          <td class="text-right">$2.50</td>
          <td class="text-right">$3</td>
          <td class="text-right">$3.50</td>
        </tr>
        <tr>
          <td class="text-left">Green or Chai Tea</td>
          <td class="text-right">$4</td>
          <td class="text-right">$4.50</td>
          <td class="text-right">$5</td>
          <td class="text-right">$5.50</td>
        </tr>
        <tr>
          <td class="text-left">Dirty Chai Tea</td>
          <td class="text-right">$4.50</td>
          <td class="text-right">$5</td>
          <td class="text-right">$5.50</td>
          <td class="text-right">-</td>
        </tr>
        <tr>
          <td class="text-left">Steamer</td>
          <td class="text-right">$2.50</td>
          <td class="text-right">$3</td>
          <td class="text-right">$3.50</td>
          <td class="text-right">-</td>
        </tr>
        <tr>
          <td class="text-left">Hot Chocolate</td>
          <td class="text-right">$2.50</td>
          <td class="text-right">$3</td>
          <td class="text-right">$3.50</td>
          <td class="text-right">-</td>
        </tr>
        <tr>
          <td class="text-left">Italian Soda</td>
          <td class="text-right">$2.75</td>
          <td class="text-right">$3.25</td>
          <td class="text-right">$3.75</td>
          <td class="text-right">$4.25</td>
        </tr>
        <tr>
          <td class="text-left">Italian Cream Soda</td>
          <td class="text-right">+.50</td>
          <td class="text-right">+.50</td>
          <td class="text-right">+.50</td>
          <td class="text-right">+.50</td>
        </tr>
        <tr>
          <td class="text-left">London Fog</td>
          <td class="text-right">$4</td>
          <td class="text-right">$4.50</td>
          <td class="text-right">$5</td>
          <td class="text-right">$5.50</td>
        </tr>
        <tr>
          <td class="text-left">Tiki Breeze Energy</td>
          <td class="text-right">$4.25</td>
          <td class="text-right">$4.75</td>
          <td class="text-right">$5.25</td>
          <td class="text-right">$5.75</td>
        </tr>
        </tbody>
      </q-markup-table>
    </q-card>
  </div>
</template>

<script>
export default {
  name: "OthersTable"
};
</script>

<style scoped>

</style>
