<template>
  <div class="q-pa-md">
    <q-card class="my-card">
      <q-card-section>
        <p class="text-h3 no-margin text-black">Snacks</p>
        <p class="text-h6 text-black">Who needs some goodies?</p>
      </q-card-section>

      <q-markup-table dense separator="horizontal">
        <thead>
        <tr>
          <th class="text-left"></th>
          <th class="text-right"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-right">Cookies</td>
          <td class="text-right">$2</td>
        </tr>
        <tr>
          <td class="text-right">Coffee Cake</td>
          <td class="text-right">$3</td>
        </tr>
        <tr>
          <td class="text-right">Muffins</td>
          <td class="text-right">$3</td>
        </tr>
        <tr>
          <td class="text-right">Bagels</td>
          <td class="text-right">$3</td>
        </tr>
        <tr>
          <td class="text-right">Breakfast Burrito</td>
          <td class="text-right">$5</td>
        </tr>
        <tr>
          <td class="text-right">Cinnamon or Breakfast Roll</td>
          <td class="text-right">$4</td>
        </tr>
        <tr>
          <td class="text-right">Scone</td>
          <td class="text-right">$4</td>
        </tr>
        <tr>
          <td class="text-right">Quiche</td>
          <td class="text-right">$4 slice/$22 whole</td>
        </tr>
        <tr>
          <td class="text-right">Pie</td>
          <td class="text-right">$3 slice/$20 whole</td>
        </tr>
        <tr>
          <td class="text-right">Bread</td>
          <td class="text-right">$3 slice/$9 whole</td>
        </tr>
        </tbody>
      </q-markup-table>
    </q-card>
  </div>
</template>

<script>
export default {
  name: "SnacksCard"
};
</script>

<style scoped>

</style>
