/* global.css */

p {
  font-family: 'Indie Flower', fantasy;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Indie Flower', fantasy;
}
th {
  font-family: 'Playfair Display', cursive;
}
td {
  font-family: 'Playfair Display', cursive;
  font-weight: bolder;
}

