<template>
  <q-layout view="hHh lpR fFf" class="main-style">

    <q-header elevated class="bg-brown-8 text-white glossy" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="/images/metropole-logo.png" alt="title-logo">
          </q-avatar>
          The Metropole Cafe
        </q-toolbar-title>
      </q-toolbar>

      <q-tabs align="left">
        <q-route-tab to="/menu" label="Menu" />
        <q-route-tab to="/about" label="About Our Cafe" />
        <q-route-tab to="/contact" label="Contact Us" />
      </q-tabs>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue';



export default defineComponent({
  name: 'MainPage',

  components: {
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
<style>
.main-style {
  background-color: #fff3e0;
}
</style>
